.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 15px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 547px;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 24px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 7px;
}

.u-section-1 .u-text-3 {
  margin: 14px auto 0 7px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 9px auto 0 6px;
}

.u-section-1 .u-text-5 {
  margin: 9px auto 0 6px;
}

.u-section-1 .u-text-6 {
  margin: 9px auto 0 6px;
}

.u-section-1 .u-text-7 {
  margin: 9px auto 0 6px;
}

.u-section-1 .u-text-8 {
  margin: 9px auto 0 6px;
}

.u-section-1 .u-text-9 {
  margin: 9px auto 0 6px;
}

.u-section-1 .u-text-10 {
  margin: 9px auto 0 6px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 6px;
  padding: 6px 14px 7px 13px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 136px;
  padding: 6px 14px 7px 13px;
}

.u-section-1 .u-text-11 {
  text-decoration: underline !important;
  margin: 30px 392px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 970px;
  min-height: 255px;
  margin: 30px auto 60px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin: 83px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 323px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 247px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 185px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 116px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}