 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("/images/ave-calvar-JNwba6cv4e0-unsplash2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 681px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-style: italic;
  background-image: none;
  font-weight: 700;
  margin: 68px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 68px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: 22px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 40px auto 179px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 33px;
    margin-right: 33px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 248px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(20% - 8px);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-6 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-7 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-8 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-17 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-2 .u-icon-9 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-19 {
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -16px auto 20px;
  padding: 10px 108px 10px 106px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 8px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1109px;
}

.u-section-3 .u-text-1 {
  width: 389px;
  margin: 49px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 32px;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 957px;
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-1 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-3 .u-text-4 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-2 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 24px 30px;
}

.u-section-3 .u-text-6 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-3 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 24px 30px;
}

.u-section-3 .u-text-8 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-4 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 24px 30px;
}

.u-section-3 .u-text-10 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-5 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 24px 30px;
}

.u-section-3 .u-text-12 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-6 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-7 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 24px 30px;
}

.u-section-3 .u-text-14 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-7 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-15 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-list-item-8 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 24px 30px;
}

.u-section-3 .u-text-16 {
  margin: 0 2px 0 0;
}

.u-section-3 .u-image-8 {
  width: 142px;
  height: 142px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-17 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 789px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2417px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}

.home-text{
  color:white;
}

.footer{
  position:absolute;
  bottom:0;
}