.u-section-1 .u-sheet-1 {
  min-height: 867px;
}

.u-section-1 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-1 .u-form-1 {
  height: 534px;
  width: 1029px;
  margin: 16px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  width: 100px;
}

.u-section-1 .u-image-1 {
  width: 549px;
  height: 549px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: 380px;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-4 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-5 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-6 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-7 {
    margin-right: undefined;
  }

  .u-section-1 .u-form-group-8 {
    margin-right: undefined;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}