.u-section-1 .u-sheet-1 {
  min-height: 1477px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 12px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 508px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/ave-calvar-JNwba6cv4e0-unsplash2-10.jpg");
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  width: 89px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 2px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  width: 129px;
  margin: 2px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 508px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-8 {
  margin: 19px 219px 0 0;
}

.u-section-1 .u-text-9 {
  text-decoration: underline !important;
  margin: 30px auto 0;
}

.u-section-1 .u-group-1 {
  width: 970px;
  min-height: 255px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin: 83px auto 0;
}

.u-section-1 .u-text-11 {
  text-decoration: underline !important;
  margin: 30px auto 0;
}

.u-section-1 .u-group-2 {
  width: 970px;
  min-height: 437px;
  margin: 30px auto 46px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 127px;
  height: 127px;
  background-image: url("images/ave-calvar-JNwba6cv4e0-unsplash2-9.jpg");
  background-position: 50% 50%;
  margin: 9px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  text-decoration: underline !important;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 117px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 115px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 86px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 84px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 83px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-1 .u-text-4 {
    width: 111px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 111px;
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    width: 109px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 365px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-decoration: underline !important;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}